GOAlS:
1. Removing Duplicates
2. Removing null values or filling them
3. Removing records with no Phone Numbers
4. Formatting Columns 
5. Expanding the Address column to the required format
6. Dropping unwanted columns
7. Setting a default value as 'Y' for contact status column which contains missing data
8. Sorting the dataset by customers who do not pay

In [1]:
import pandas as pd
import numpy as np

Reading the dataset

In [2]:
df=pd.read_csv(r"C:\Users\Samanyu K\Downloads\Customer Call List.csv")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Unnamed: 8,Unnamed: 9
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,NaN,NaN
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,NaN,NaN
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True,NaN,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,NaN,NaN
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True,NaN,NaN
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True,NaN,NaN
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False,NaN,NaN
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False,NaN,NaN
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False,NaN,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True,NaN,NaN
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,NaN,NaN
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True,NaN,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False,NaN,NaN
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False,NaN,NaN
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False,NaN,NaN
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False,NaN,NaN
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,NaN,NaN
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True,NaN,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,NaN,NaN
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,NaN,NaN
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,NaN,NaN

Dropping Columns which are of no use to us

In [3]:
df=df.drop_duplicates()
cols=['Not_Useful_Column',	'Unnamed: 8',	'Unnamed: 9']
df=df.drop(columns=cols)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

Formatting the Last_Name column to the desired format by removing extra characters

In [4]:
df['Last_Name']=df['Last_Name'].str.replace('[/._]','',regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

Fomatting the Phone Number

In [5]:
df['Phone_Number']=df['Phone_Number'].str.replace(r'\D','',regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N

Trasforming the phone number to the required format

In [6]:
df['Phone_Number']=df['Phone_Number'].fillna("")
df['Phone_Number']=df['Phone_Number'].apply(lambda x:'+' + x[0:2]+" "+x[2:])
df['Phone_Number']=df['Phone_Number'].apply(lambda x:" " if x.strip()=="+" else x)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,+12 35455421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,+12 36439775,93 West Main Street,No,Yes
2,1003,Walter,White,+70 66950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,+12 35432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,+87 66783469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,+30 47622467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,,1209 South Street,No,No
7,1008,Sherlock,Holmes,+87 66783469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,+12 35455421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,+70 66950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,+12 35432345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,+87 66783469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,+30 47622467,214 HR Avenue,N,No
15,1016,Ron,Weasley,+12 35455421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,+12 36439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,+70 66950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,+87 66783469,"910 Tatooine Road, Tatooine",Yes,N

Splitting the Address column into three different columns and dropping the Address column

In [7]:
df[['Street', 'State', 'Pincode']] =df['Address'].str.split(',', n=2, expand=True)
df=df.drop(columns=['Address'])
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street,State,Pincode
0,1001,Frodo,Baggins,+12 35455421,Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,+12 36439775,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,+70 66950392,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,+12 35432345,Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,+87 66783469,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,+30 47622467,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,,No,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,+87 66783469,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,+12 35455421,Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,+70 66950392,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,+12 35432345,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,+87 66783469,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,+30 47622467,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,+12 35455421,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,+12 36439775,Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,+70 66950392,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,+87 66783469,Yes,N,910 Tatooine Road,Tatooine,None

Bringing Uniformity to Paying_Customer and Do_Not_Contact columns

In [8]:
df['Paying Customer']=df['Paying Customer'].apply(lambda x:'Y' if x=='Yes' else  'N' if   x=='No' else x)
df['Do_Not_Contact']=df['Do_Not_Contact'].apply(lambda x:'Y' if x=='Yes' else  'N' if   x=='No' else x)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street,State,Pincode
0,1001,Frodo,Baggins,+12 35455421,Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,+12 36439775,N,Y,93 West Main Street,None,None
2,1003,Walter,White,+70 66950392,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,+12 35432345,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,+87 66783469,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,+30 47622467,Y,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,,N,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,+87 66783469,N,N,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,Y,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,+12 35455421,Y,N,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,Y,N,612 Shire Lane,Shire,None
11,1012,Harry,Potter,+70 66950392,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,+12 35432345,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,+87 66783469,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,+30 47622467,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,+12 35455421,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,+12 36439775,Y,N,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,+70 66950392,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,Y,N/a,None,None
19,1020,Anakin,Skywalker,+87 66783469,Y,N,910 Tatooine Road,Tatooine,None

Filling null values with an empty string and replacing unwanted characters

In [9]:
df=df.fillna('')
df['Paying Customer']=df['Paying Customer'].str.replace('N/a','')
df['Street']=df['Street'].str.replace('N/a','')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street,State,Pincode
0,1001,Frodo,Baggins,+12 35455421,Y,N,123 Shire Lane,Shire,
1,1002,Abed,Nadir,+12 36439775,N,Y,93 West Main Street,,
2,1003,Walter,White,+70 66950392,N,,298 Drugs Driveway,,
3,1004,Dwight,Schrute,+12 35432345,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,+87 66783469,Y,N,123 Dragons Road,,
5,1006,Ron,Swanson,+30 47622467,Y,Y,768 City Parkway,,
6,1007,Jeff,Winger,,N,N,1209 South Street,,
7,1008,Sherlock,Holmes,+87 66783469,N,N,98 Clue Drive,,
8,1009,Gandalf,,,Y,,123 Middle Earth,,
9,1010,Peter,Parker,+12 35455421,Y,N,25th Main Street,New York,
10,1011,Samwise,Gamgee,,Y,N,612 Shire Lane,Shire,
11,1012,Harry,Potter,+70 66950392,Y,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,+12 35432345,Y,N,2039 Main Street,,
13,1014,Leslie,Knope,+87 66783469,Y,N,343 City Parkway,,
14,1015,Toby,Flenderson,+30 47622467,N,N,214 HR Avenue,,
15,1016,Ron,Weasley,+12 35455421,N,N,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,+12 36439775,Y,N,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,+70 66950392,Y,,3498 Super Lane,,
18,1019,Creed,Braton,,,Y,,,
19,1020,Anakin,Skywalker,+87 66783469,Y,N,910 Tatooine Road,Tatooine,

dropping records with phone numbers not present and resetting index

In [10]:
df=df[df['Phone_Number']!=" "]
df.reset_index(drop=True,inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street,State,Pincode
0,1001,Frodo,Baggins,+12 35455421,Y,N,123 Shire Lane,Shire,
1,1002,Abed,Nadir,+12 36439775,N,Y,93 West Main Street,,
2,1003,Walter,White,+70 66950392,N,,298 Drugs Driveway,,
3,1004,Dwight,Schrute,+12 35432345,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,+87 66783469,Y,N,123 Dragons Road,,
5,1006,Ron,Swanson,+30 47622467,Y,Y,768 City Parkway,,
6,1008,Sherlock,Holmes,+87 66783469,N,N,98 Clue Drive,,
7,1010,Peter,Parker,+12 35455421,Y,N,25th Main Street,New York,
8,1012,Harry,Potter,+70 66950392,Y,,2394 Hogwarts Avenue,,
9,1013,Don,Draper,+12 35432345,Y,N,2039 Main Street,,
10,1014,Leslie,Knope,+87 66783469,Y,N,343 City Parkway,,
11,1015,Toby,Flenderson,+30 47622467,N,N,214 HR Avenue,,
12,1016,Ron,Weasley,+12 35455421,N,N,2395 Hogwarts Avenue,,
13,1017,Michael,Scott,+12 36439775,Y,N,121 Paper Avenue,Pennsylvania,
14,1018,Clark,Kent,+70 66950392,Y,,3498 Super Lane,,
15,1020,Anakin,Skywalker,+87 66783469,Y,N,910 Tatooine Road,Tatooine,

Renaming Columns

In [11]:
df=df.rename(columns={"Phone_Number":"Contact Number","Do_Not_Contact":"Contact Status"})
df

,CustomerID,First_Name,Last_Name,Contact Number,Paying Customer,Contact Status,Street,State,Pincode
0,1001,Frodo,Baggins,+12 35455421,Y,N,123 Shire Lane,Shire,
1,1002,Abed,Nadir,+12 36439775,N,Y,93 West Main Street,,
2,1003,Walter,White,+70 66950392,N,,298 Drugs Driveway,,
3,1004,Dwight,Schrute,+12 35432345,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,+87 66783469,Y,N,123 Dragons Road,,
5,1006,Ron,Swanson,+30 47622467,Y,Y,768 City Parkway,,
6,1008,Sherlock,Holmes,+87 66783469,N,N,98 Clue Drive,,
7,1010,Peter,Parker,+12 35455421,Y,N,25th Main Street,New York,
8,1012,Harry,Potter,+70 66950392,Y,,2394 Hogwarts Avenue,,
9,1013,Don,Draper,+12 35432345,Y,N,2039 Main Street,,
10,1014,Leslie,Knope,+87 66783469,Y,N,343 City Parkway,,
11,1015,Toby,Flenderson,+30 47622467,N,N,214 HR Avenue,,
12,1016,Ron,Weasley,+12 35455421,N,N,2395 Hogwarts Avenue,,
13,1017,Michael,Scott,+12 36439775,Y,N,121 Paper Avenue,Pennsylvania,
14,1018,Clark,Kent,+70 66950392,Y,,3498 Super Lane,,
15,1020,Anakin,Skywalker,+87 66783469,Y,N,910 Tatooine Road,Tatooine,

Setting the default value to Y in Contact_Status column for the Missing data

In [12]:
df['Contact Status']=df['Contact Status'].apply(lambda x:"Y" if x=="" else x)
df

,CustomerID,First_Name,Last_Name,Contact Number,Paying Customer,Contact Status,Street,State,Pincode
0,1001,Frodo,Baggins,+12 35455421,Y,N,123 Shire Lane,Shire,
1,1002,Abed,Nadir,+12 36439775,N,Y,93 West Main Street,,
2,1003,Walter,White,+70 66950392,N,Y,298 Drugs Driveway,,
3,1004,Dwight,Schrute,+12 35432345,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,+87 66783469,Y,N,123 Dragons Road,,
5,1006,Ron,Swanson,+30 47622467,Y,Y,768 City Parkway,,
6,1008,Sherlock,Holmes,+87 66783469,N,N,98 Clue Drive,,
7,1010,Peter,Parker,+12 35455421,Y,N,25th Main Street,New York,
8,1012,Harry,Potter,+70 66950392,Y,Y,2394 Hogwarts Avenue,,
9,1013,Don,Draper,+12 35432345,Y,N,2039 Main Street,,
10,1014,Leslie,Knope,+87 66783469,Y,N,343 City Parkway,,
11,1015,Toby,Flenderson,+30 47622467,N,N,214 HR Avenue,,
12,1016,Ron,Weasley,+12 35455421,N,N,2395 Hogwarts Avenue,,
13,1017,Michael,Scott,+12 36439775,Y,N,121 Paper Avenue,Pennsylvania,
14,1018,Clark,Kent,+70 66950392,Y,Y,3498 Super Lane,,
15,1020,Anakin,Skywalker,+87 66783469,Y,N,910 Tatooine Road,Tatooine,

Sorting the dataset with Non Paying Customers at the beginning

In [13]:
df=df.sort_values(by=['Paying Customer'],ascending=True)
df.reset_index(drop=True,inplace=True)
df

,CustomerID,First_Name,Last_Name,Contact Number,Paying Customer,Contact Status,Street,State,Pincode
0,1002,Abed,Nadir,+12 36439775,N,Y,93 West Main Street,,
1,1003,Walter,White,+70 66950392,N,Y,298 Drugs Driveway,,
2,1008,Sherlock,Holmes,+87 66783469,N,N,98 Clue Drive,,
3,1015,Toby,Flenderson,+30 47622467,N,N,214 HR Avenue,,
4,1016,Ron,Weasley,+12 35455421,N,N,2395 Hogwarts Avenue,,
5,1001,Frodo,Baggins,+12 35455421,Y,N,123 Shire Lane,Shire,
6,1004,Dwight,Schrute,+12 35432345,Y,Y,980 Paper Avenue,Pennsylvania,18503
7,1005,Jon,Snow,+87 66783469,Y,N,123 Dragons Road,,
8,1006,Ron,Swanson,+30 47622467,Y,Y,768 City Parkway,,
9,1010,Peter,Parker,+12 35455421,Y,N,25th Main Street,New York,
10,1012,Harry,Potter,+70 66950392,Y,Y,2394 Hogwarts Avenue,,
11,1013,Don,Draper,+12 35432345,Y,N,2039 Main Street,,
12,1014,Leslie,Knope,+87 66783469,Y,N,343 City Parkway,,
13,1017,Michael,Scott,+12 36439775,Y,N,121 Paper Avenue,Pennsylvania,
14,1018,Clark,Kent,+70 66950392,Y,Y,3498 Super Lane,,
15,1020,Anakin,Skywalker,+87 66783469,Y,N,910 Tatooine Road,Tatooine,